/* Reseteo gral */
* {
    margin: 0;
    padding: 0; }
/* Estilos Generales */
.margTop{
    margin-top: 15px;
}
.smallNote{
    font-size: small;
    color: rgb(156, 163, 156);
}
.greenColor{
    color: #1aca1a;
}
.redColor{
    color: red;
}
.boldStyle{
    font-weight: bold;
}
.sidesBorder{
    border-left: 0.5px solid rgb(207, 207, 207);
    border-right: 0.5px solid rgb(207, 207, 207);
}
.fullBorder{
    border: 0.5px solid rgb(207, 207, 207);
}
.bottomBorder{
    border-bottom: 0.5px solid rgb(207, 207, 207);
}
.rightBorder{
    border-right: 0.5px solid rgb(207, 207, 207);
}
.centerAlign{
    text-align: center;
}
.centerAlign1{
    text-align: center;
    margin-top: 10px;
}
/* NAVBAR */
.userIcon{
    margin-right: 4px;
}
.welcomeDiv{
  display: flex;
  flex-flow: nowrap;
  justify-content: space-around;
  padding: 2%;
}
.welcome{
    font-size: 3rem;
}
.qtyCartIcon{
    position: absolute;
  right: 105px;
  top: 30px;
  width: 15px;
  height: 15px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  color: #FFF;
  background-color: #D10024;
}
/* CARD */
.itemCard{
    margin-top: 15px;
}
.itemCard:hover{
    transform: translatey(-10px) !important;
}
.itemBtns{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.itemCountDetail{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/* CARD TITLE */
.titleCard {
    padding-top: 10px;
    color: black;
    border-top: 2px solid rgb(207, 207, 207);

}
/* ITEM PRICE */
.itemPrice{
    color: #2fb12f;
    font-weight: bold;
}
/* BOTON CANTIDAD */
.qtyBtn{
    font-size: large;
    font-weight: bold;
    background-color: #e6e6e6;
    color: black;
    height: 30px;
    width: 5px;
}
.qtyBtn:focus{
    font-size: large;
    font-weight: bold;
    background-color: #e6e6e6;
    color: black;
    border-radius: 50%;
}
.qtyBtn:hover{
    background-color: #1aca1a;
    color: white;
}
.qtyBtn:active{
    color: #1aca1a;
    background-color: white;
}
.qtyBtnSize{
    padding: 7px;
}
.itemQty{
    border: none;
    text-align: center;
    color: black;
    font-weight: bold;
    padding-top: 5px;
}
/* BOTON VIEW DETAILS */
.viewDetailsBtn, .viewDetailsBtn:focus, .viewDetailsBtn:active{
    color: white;
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin-top: 8px;
    font-weight: bolder;
    border: none;
    box-shadow: none;
}
.viewDetailsBtn:hover{
    background-color: rgb(66, 65, 65);
    color: white;
    border: none;
    box-shadow: none;
}
.viewDetailsBtn:active:focus{
    color: black;
    background-color: white;
    width: 100%;
    border: none;
    box-shadow: 0 0 0 0.25rem rgb(66, 65, 65);
}
/* BOTON ADD TO CART */
.addToCartBtn, .addToCartBtn:focus, .addToCartBtn:active{
    color: white;
    background-color: rgb(0, 0, 0);
    width: 100%;
    font-weight: bolder;
    border: none;
    box-shadow: none;

}
.addToCartBtn:hover{
    background-color: rgb(66, 65, 65);
    color: white;
    border: none;
    box-shadow: none;
}
.addToCartBtn:active:focus{
    color: black;
    background-color: white;
    width: 100%;
    border: none;
    box-shadow: 0 0 0 0.25rem rgb(66, 65, 65);
}
/* Render de productos */
.itemRender{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 2% 2% 2%
}
/* Render Item Detail */
.itemDetDiv{
    padding: 3%;
}
.ItemDetRow1{
    padding-left: 25px;
    padding-top: 35px;
}
.ItemDetRow2{
    padding-left: 25px;
    padding-top: 25px;
}
.gripDiv{
    padding-top: 15px;
    border-top: 0.5px solid rgb(207, 207, 207);
}
.itemDetTit{
    font-size: 3.5vh;
    font-weight: bold;
}
.actualPrice{
    font-size: x-large;
    margin-right: 8px;
}
.oldPrice{
    font-size: medium;
    color: red;
    text-decoration: line-through;
}
.itemDiscount{
    margin-top: 10px;
}
.gripDetailsDiv{
    text-align: center;
    border: 0.5px solid grey;
}
.ItemDetRow3{
    padding-left: 25px;
    margin-top: 15px;
}
.itemCountDiv{
    padding-top: 15px;
    margin-top: 10px;
    border-top: 0.5px solid rgb(207, 207, 207);
    border-bottom: 0.5px solid rgb(207, 207, 207);
}
.itemDescDiv{
    padding-top: 15px;
}
.itemDetDesc1{
    padding-top: 15px;
    font-weight: bold;
}
.itemDetDesc2{
    text-align: justify;
}
.ItemDetRow4{
    padding-left: 25px;
    padding-top: 5px;
}
/* SHOPPING CART */
.cartDiv{
    padding: 60px;
    background-color: #f1f1f1;
    margin-top: 40px;
}

.itemCartMap{
    background-color: white;
    margin-top: 20px;
    padding: 15px;
    border-top-left-radius: 50px 100px;
    border-bottom-right-radius: 50px 100px;
}
.totalCostDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 25px;
}
.totalCostTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: bold;
}
.totalCost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: x-large;
}
.EmptyCartTitle{
    font-size: xx-large;
    text-align: center;
}
.viewMoreDiv{
    display: flex;
    justify-content: center;
}
.cartBottomBorder{
    border-bottom: 0.5px solid rgb(78, 78, 78);
}
.cartTitle{
    font-size: xx-large;
}
.detailsCartImg{
    padding: 15px;
}
.detailsCartDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
}
.cartItemTitle{
    font-size: 2.5vh;
    margin-bottom: 15px;
}
.cartSubItemTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.priceCartDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 3.5vh;
}
/* FORM */
.formDiv{
    padding: 20px;
    margin-top: 10px;
}
form {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.generalInputs{
    border: none;
    padding-left: 10px;
    font-size: large;
    padding: 10px;
}
/* Footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    font-weight: bold;
    background-color: black;
    max-width: 100%;
}